{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Impact of Covid across Countries {% endblock %}</h1>

    <div class="row about-row row-odd">
        <div class="col-md-10 col-sm-12 text-box">
            <h2>Coronavirus Country Profiles</h2>
            <p>In a fast-evolving pandemic it is not a simple matter to identify the countries that are most successful in making progress against it. 
                For this assessment, we track the impact of the pandemic across our publication and we built country profiles for 207 countries 
                to study in depth the statistics on the coronavirus pandemic for every country in the world.</p>
            <p></p>
            <p>Every profile includes four sections:</p>
                <ul>
                    <li>Cases: How many new cases are being confirmed each day? How many cases have been confirmed since the pandemic started? How is the number of cases changing?</li>
                    <li>Deaths: How many deaths from COVID-19 have been reported? Is the number of deaths rising or falling? How does the death rate compare to other countries?</li>
                    <li>Vaccinations: How many vaccine doses are being administered each day? How many doses have been administered in total? What share of the population has been vaccinated?</li>
                    <li>Testing: How much testing for coronavirus do countries conduct? How many tests did a country do to find one COVID-19 case?</li>                  
                </ul>
        </div>
        <div class="col-md-1 col-sm-12 image-box">
            <img src="{{url_for('static', filename='images/ourworldindata.png')}}" height="200" width="200">
        </div>
    </div>
    <div class="row about-row">        
        <div class="col-md-10 col-sm-12 text-box">
            <h2>Why this dashboard?</h2>
            <p>A one-stop, interactive dashboard provides a powerful and efficient solution for users to access, analyze, and 
                manage data in a centralized and user-friendly manner, enabling them to derive valuable insights and make informed decisions.</p>
            <p>This dashboard is fully customisable. </p>
        </div>
    </div>
    <div class="row about-row row-odd">
        <div class="col-md-10 col-sm-12 text-box">
            <h2>Who is this dashboard for?</h2>
            <p>Travel Insurance Providers: The dashboard can serve as a centralized platform for travel insurance providers to provide interactive insights in cases/deaths/vaccination, in return, can able to provide risk-based insurance premium cost for travellers in high risks countries, i.e. low vaccination rate countries.</p>
            <p>Travel Tour Operators: For travel tour operators, the dashboard can offer insights and tools to manage and track their tour offerings, providing better operation and cost-return based on the country’s risk covid profile.</p>   
            <p></p>
        </div>        
    </div>
    
    <div class="row about-row row-odd">
        <div class="col-md-10 col-sm-12 text-box">
            <h2>References and Datasets</h2>
            <p>Dataset from <a href="https://ourworldindata.org/coronavirus" target="_blank" rel="noreferrer">ourworldindata.org/coronavirus.</a> 
                
            </p>
            <p>Full Citation to <a href="https://ourworldindata.org/coronavirus#citation"
                target="_blank" rel="noreferrer">Edouard Mathieu, Hannah Ritchie, Lucas Rodés-Guirao, Cameron Appel, Charlie Giattino, Joe Hasell, Bobbie Macdonald, Saloni Dattani, Diana Beltekian, Esteban Ortiz-Ospina and Max Roser (2020) - "Coronavirus Pandemic (COVID-19)". Published online at OurWorldInData.org. Retrieved from: 'https://ourworldindata.org/coronavirus' [Online Resource].</a>
                
            </p>
        </div>
        
    </div>
    
    {% endblock %}
